---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h2>Seth Walker - A Public Commitment to Performance</h2>
      <div>
        <h3>Presented at Velocity NYC 2013</h3>
      </div>
      <div>
        <script
          async
          class="speakerdeck-embed"
          data-id="5607a17017f6013105047e2518c1e729"
          data-ratio="1.77777777777778"
          src="//speakerdeck.com/assets/embed.js"></script>
      </div>
      <div>
        <h3>
          <a href="http://www.youtube.com/watch?v=BCmpzf_3rxs">Video</a>
        </h3>
        <h3>Etsy Site Performance reports</h3>
        <ol>
          <li>
            <a
              href="http://www.etsy.com/blog/news/2011/tech-update-faster-and-faster/"
              >"Tech Update: Faster and Faster" - Etsy News Blog</a
            >
          </li>
          <li>
            <a href="http://www.etsy.com/blog/news/2011/tech-update-page-load/"
              >"Tech Update: August 2011 Site Performance Report" - Etsy News
              Blog</a
            >
          </li>
          <li>
            <a
              href="http://www.etsy.com/blog/news/2011/november-2011-site-performance-report/"
              >"November 2011 Site Performance Report" - Etsy News Blog</a
            >
          </li>
          <li>
            <a
              href="http://www.etsy.com/blog/news/2012/march-2012-site-performance-report/"
              >"March 2012 Site Performance Report" - Etsy News Blog</a
            >
          </li>
          <li>
            <a
              href="http://codeascraft.com/2012/07/12/june-2012-site-performance-report/"
              >"June 2012 Site Performance Report" - Code as Craft</a
            >
          </li>
          <li>
            <a href="http://www.etsy.com/blog/news/2013/etsy-gets-faster/"
              >"Etsy Gets Faster" - Etsy News Blog</a
            >
          </li>
          <li>
            <a
              href="http://codeascraft.com/2012/11/09/october-2012-site-performance-report/"
              >"October 2012 Site Performance Report" - Code as Craft</a
            >
          </li>
          <li>
            <a
              href="http://codeascraft.com/2012/11/29/measuring-front-end-performance-with-real-users/"
              >"Measuring Front-end Performance With Real Users" - Code as Craft</a
            >
          </li>
          <li>
            <a
              href="http://codeascraft.com/2013/04/09/march-2013-site-performance-report/"
              >"March 2013 Site Performance Report" - Code as Craft</a
            >
          </li>
          <li>
            <a
              href="http://codeascraft.com/2013/07/11/june-2013-site-performance-report/"
              >"June 2013 Site Performance Report" - Code as Craft</a
            >
          </li>
        </ol>

        <hr />

        <h3>Resources</h3>
        <ul>
          <li>
            <a
              href="http://www.mikebrittain.com/blog/2011/03/19/metrics-driven-engineering-at-etsy/"
              >Metrics-driven Engineering at Etsy"</a
            > - Mike Brittain
          </li>
          <li>
            <a
              href="http://www.slideshare.net/mikebrittain/web-performance-culture-and-tools-at-etsy"
              >Web Performance Culture and Tools at Etsy"</a
            > - Mike Brittain
          </li>
          <li>
            <a href="http://jkle.in/wpt"
              >DIY Synthetic - Private WebPagetest Magic"</a
            > - Jonathan Klein
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
